
.theory{
    width: 900px;
    margin: 0 auto;
    background-color: beige;
    border: 2px solid rgb(112, 112, 110);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

h1{
    font-size: 36px;
}

.newList{
    text-align: start;

}

.timer-seconds {
    position: relative;
    font-size: 60px;
    text-align: center;
    color: rgb(6, 90, 90);
}

